body {
  background-size: 1em 1em;
  background-image:
    linear-gradient(to right, #dfdfdf 1px, transparent 1px),
    linear-gradient(to bottom, #dfdfdf 1px, transparent 1px);
  font-family: Helvetica, sans-serif;
}

#app {
  position: relative;
}

#app h3 {
  font-size: 2em;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

.database-table {
  position: absolute;
  background: white;
  border: 1px solid black;
  width: 12em;
}

.addEntity {
  width: 5em;
  height: 5em;
  position: fixed;
  right: 3em;
  bottom: 3em;
  border: none;
  cursor: pointer;
  background-color: #a3c3fa;
  border-radius: 50%;
  outline: none;
}

.addEntity:hover {background-color: #4c85fb}

.addEntity:active {
  background-color: #4c85fb;
  transform: translateY(0.25em);
}

.addEntity span{
  font-size: 4em;
  color: #fff;
}

.database-table {
  cursor: move;
  color: #6d6d6d;
  background-color: #a3c3fa;
  border: none;
  border-radius: 0.4em;
}

.database-table li:first-child {
  color: black;
  display: flex;
  justify-content: center;
  padding: 1em;
  text-transform: uppercase;
}

.database-table li {
  padding:0.5em 0.3em 0.5em 0.3em;
  display: flex;
  justify-content: space-between;  
  color: #000;
}

.database-table li:nth-child(2n) {
  color: #fff;
  background-color: #4c85fb;
}