body {
  background-size: 1em 1em;
  background-image:
    linear-gradient(to right, #dfdfdf 1px, transparent 1px),
    linear-gradient(to bottom, #dfdfdf 1px, transparent 1px);
  font-family: Helvetica, sans-serif;
}

#app {
  position: relative;
}

#app h3 {
  font-size: 2em;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

.database-table {
  position: absolute;
  background: white;
  border: 1px solid black;
  width: 12em;
}

.addEntity{
  padding: 10px 20px;
  bottom: 20px;
  left: 40px;
  cursor: pointer;
  background-color: #ffa502;
  position: fixed;
}

.addEntity a{
  text-decoration: none;
}