* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.4;
	background-size: 1em 1em;
	background-image: linear-gradient(to right,#F5F5F5 1px, transparent 1px), linear-gradient(to bottom, #F5F5F5 1px, transparent 1px);
}

