body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) .1em, transparent 0em),
   linear-gradient(90deg, rgba(0, 0, 0, 0.1) .1em, transparent 0em);
  background-size: 1em 1em;
}
