html {height: 100%;}

body {
    margin: 0;
    height: 100%;
    background-color: #fff;
}

#grid{
    background-image:  
        linear-gradient( 0deg, #00a1fe 1px, transparent 1px),
        linear-gradient( 90deg, #00a1fe 1px, transparent 1px);
    height:100%;
    background-size: 1.0em 1.0em;
}